<!-- {{name}}


<input type="text" [(ngModel)]="name" />
<button (click)="update()">Click me</button>


<div *ngIf="isShow==true">
  <div>
    abvcdde
  </div>
</div>

<div *ngFor="let item of mang">
  <span>{{item.name}} - {{item.age}}</span>
</div>

<div [ngSwitch]="number">
  <div *ngSwitchCase="1">
    1
  </div>

  <div *ngSwitchCase="2">
    2
  </div>

  <div *ngSwitchCase="4">
    4
  </div>
</div> -->


<a [routerLink]="[ 'calculator']">Caculator</a>
<br>
<a [routerLink]="[ 'image-preview']">Image Preview</a>
<br>
<a [routerLink]="['list-note']">List note</a>
<br>
<a [routerLink]="['atm']">Atm</a>

<router-outlet></router-outlet>